.hero__content h2 {
    color: var(--secondary-color);
    font-size: 3.5rem;
    font-weight: 900;
    margin: 20px 0px;
}

.hero__content p{
    color: var(--third-color);
    line-height: 110%;
    font-size: 1rem;
    margin-top: -15px;
}

.hero__content {
    margin-bottom: 150px;
}

.hero__section p:nth-child(1) {
    font-weight: 500;
    background: #D5EEC6;
    border-radius: 20px;
    padding: 5px;
    width: 18%;
    color: #244030;
}

.buy__btn {
    border: none;
    outline: none;
    padding: 8px 20px;
    border-radius: 5px;
    background: var(--primary-color);
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 40px;
}

.buy__btn a:hover {
    color: #fff;
}

.hero__content, .about__content {
    padding-top: 45px;
}

.timer__count {
    background: var(--primary-color);
    height: 300px;
}

.timer__count img{
    width: 70% !important;
    height: 70% !important;
    object-fit: contain;
}

.store__btn {
    background: #fff;
    color: var(--primary-color);
    font-weight: 600;
}

.store__btn a:hover {
    color: var(--primary-color);
}

.about__card {
    background: rgba(245, 245, 245, 0.5);
    border: 1px solid #FFFFFF;
    box-shadow: 12px 9px 32px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    flex-direction: row;
    margin-left: 270px;
    margin-right: 270px;
    padding: 35px;
    /* left: 50%;
    transform: translate(-50%, -50%); */

    border-radius: 40px;
    backdrop-filter: blur(15px);
    z-index: 99;
}

.about__title {
    font-weight: 800 !important;
    color: var(--secondary-color);
}

.about__subtitle {
    font-size: 1rem !important;
    font-weight: 500 !important;
    text-align: left !important;
    margin-bottom: 25px;
    text-align: justify !important;
    color: var(--third-color);
}

.planta__about {
    width: 850px;
    height: 750px;
    text-align: center;
    margin-left: -28%;
    margin-top: -160px;
    left: 50%;
    position: absolute;
    z-index: -1;
}

.vaso__about {
    width: 300px;
    height: 300px;
    margin-left: -20px;
}

@media only screen and (max-width: 1199px) {
    .about__card {
        margin-left: 10%;
        margin-right: 10%;
    }

    .planta__about {
        /* margin-left: 20%;
        margin-right: -80%; */
        width: 500px;
        height: 500px;
    }
}

@media only screen and (max-width: 992px) {
    .hero__content h2 {
        font-size: 2rem;
    }

    .section__title {
        font-size: 1.7rem;
    }

    .content_img {
        display: none;
    }

    .clock__top-content {
        text-align: center;
    }

    .clock__top-content h4 {
        font-size: 0.9rem !important;
    }

    .clock__top-content h3 {
        font-size: 1rem !important;
    }

    .count__down-col {
        text-align: center;
        display: inline-block;
    }

    .vaso__about {
        width: 150px;
        height: 150px;
        margin-left: -20px;
    }

    .about__card {
        margin-left: 10%;
        margin-right: 10%;
    }

    .planta__about {
        width: 500px;
        height: 500px;
        margin-left: 20%;
        margin-right: -80%;
    }
}

@media only screen and (max-width: 768px) {
    .hero__content h2 {
        font-size: 1.6rem;
    }

    .hero__content p{
        font-size: 0.9rem;
    }

    .hero__section p:nth-child(1) {
    width: 24%;
    }

    .buy__btn a{
        font-size: 0.9rem;
    }
    
    .section__title {
        font-size: 1.4rem;
    }

    .about__card {
        font-size: 0.5rem;
    }

    .vaso__about {
        width: 150px;
        height: 150px;
        margin-left: -20px;
    }

    .planta__about {
        width: 450px;
        height: 450px;
        left: 50%;
    }
}

@media only screen and (max-width: 576px) {
    .hero__content {
        padding-top: 0;
        margin-bottom: 40px;
    }

    .hero__section p:nth-child(1) {
    width: 42%;
    }

    .about__card {
        margin-left: 0px;
        margin-right: 0px;
    }

    .vaso__about {
        width: 150px;
        height: 150px;
        margin-left: -15px;
    }

    .about__title {
        font-size: 2rem;
        margin-left: -90px;
    }

    .about__subtitle {
        font-size: 0.8rem;
        margin-left: -90px;
    }

    .planta__about {
        width: 350px;
        height: 350px;
        text-align: center;
        top: 31%;
    }

}